version: 2.1
executors:
  exectr:
    docker:
      - image: premsekhar/dockercppintroproject:latest
jobs:
  build:
    executor: exectr
    steps:
      - checkout
      - run:
          name: Setup gtest
          command: |
            cd third_party
            git submodule init
            git submodule update
      - run:
          name: Creating Build files
          command: "cmake -S . -B build"
      - run:
          name: Creating Binary files
          command: "cmake --build build"
      -persist_to_workspace:
          root: .
          paths: build
  # separate job for test
  test:
    executor: exectr
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Execute Tests
          command: |
            cd build
            ctest
workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - test:
          requires:
            - build
