version: 2.1
executors:
  exectr:
    docker:
      - image: premsekhar/dockercppintroproject:latest
jobs:
  build:
    executor: exectr
    steps:
      - checkout
      - run:
          name: Setup gtest
          command: |
            cd third_party
            git submodule init
            git submodule update
      - run:
          name: Creating Build folder
          command: |
            mkdir build
      - save_cache:
          key: v1-myapp-cache
          paths:
            - build
      - run:
          name: Creating Build artifacts
          command: |
            cd build
            cmake ..
            make
      - run:
          name: testing whats inside build
          command: |
            cd build
            ls -lrt
      

      - persist_to_workspace:
          root: .
          paths:
            - bin/*
  # separate job for test
  test:
    executor: exectr
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Execute Tests
          command: cd bin

      - run:
          name: testing whats inside bin
          command: ls -lrt

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - test:
          requires:
            - build
